.card-title{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
i{
    font-size: 18px;
    color: green;
    margin-left: 10px;
    display: none;
}
span{
    margin-left: 10px;
    display: none;
}
.btn-primary, .bi-cart-plus{
    color: white;
    font-size: 18px;
    display: inline-block;
}

