<div class="other-category-container row">
    <h1 
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        style="font-family:'Bungee'; text-align: center; margin: 100px auto; color: #F7CE3E;">Others</h1>
  
      <div class="col-md-6 card-m" routerLink = "../balls" data-aos="fade-up" data-aos-duration="1000">
        <img src="assets/other category/Ball.jpg" alt="" class="other-img" >
        <div class="vertical">
            <h1 class="img_description">Balls</h1>
        </div>
        
      </div>
  
      <div class="col-md-6 card-m" routerLink = "../stadium" data-aos="fade-up" data-aos-duration="1000">   
        <img src="assets/other category/stadiums.jpg" alt="" class="other-img">
        <div class="vertical">
            <h1 class="img_description">Stadiums</h1>
        </div>
      </div>
  
  </div>