/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
body{
    min-height: 100vh;
}
*{
    --primary-color: #e3701e;
    margin: 0px;
    padding: 0px;
      
}